<li class="list-group-item">
  <div class="row">
    <div class="col-md-6">
      <h4><%- each.metadata.title ? each.metadata.title : each.fileName %></h4>
      <div class="col-auto p-0 text-truncate">
        <a href="<%= each.sourceUrl %>">
          <small> <%= each.sourceUrl %> </small>
        </a>
      </div>
      <p>
        <% if (each.status === "Completed") { %>
        <small class="badge badge-success"><%= each.status %> </small>
        <% } else if (each.status === "Error") { %>
        <small class="badge badge-danger"><%= each.status %> </small>
        <% } else if (each.status === "Processing") { %>
        <small class="badge badge-secondary"><%= each.status %> </small>
        <% } else { %> <% } %>

        <small class="text-muted"><%= each.metadata.excerpt %> </small>
      </p>
    </div>
    <div class="col-md-6">
      <div class="row d-flex align-items-center justify-content-end mb-3">
        <% if(each.fileLink) { %>
        <audio id="player-<%= each._id %>" controls>
          <source src="<%= each.fileLink %>" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            class="btn btn-sm btn-link"
            type="button"
            value="<%= each._id %>"
            onclick="setPlaybackSpeed(value, 1.0)"
          >
            <strong> 1x </strong>
          </button>

          <button
            class="btn btn-sm btn-link"
            type="button"
            value="<%= each._id %>"
            onclick="setPlaybackSpeed(value, 1.5)"
          >
            <strong> 1.5x </strong>
          </button>
          <button
            class="btn btn-sm btn-link"
            type="button"
            value="<%= each._id %>"
            onclick="setPlaybackSpeed(value, 2.0)"
          >
            <strong> 2x </strong>
          </button>
          <button
            class="btn btn-sm btn-link"
            type="button"
            value="<%= each._id %>"
            onclick="setPlaybackSpeed(value, 2.5)"
          >
            <strong> 2.5x </strong>
          </button>
        </div>
        <% } %>
      </div>
      <div class="row d-flex align-items-center justify-content-end mt-3">
        <button type="button" class="btn btn-link btn-sm disabled">
          Email
          <span><small class="badge badge-primary">Coming soon</small></span>
        </button>

        <% if (each.downloads.gDrive) { %>
        <button
          class="btn btn-link btn-sm text-secondary"
          value="<%= each._id %> "
          onclick="uploadToGDrive(value)"
        >
          <span>
            <i class="bi bi-check-circle-fill"></i>
          </span>
          Uploaded to GDrive
        </button>
        <% } else { %>
        <button
          class="btn btn-link btn-sm"
          value="<%= each._id %> "
          onclick="uploadToGDrive(value)"
        >
          Upload to GDrive
        </button>
        <% } %> <% if (each.status !== "Completed") { %>
        <a class="btn btn-link btn-sm disabled"> Download</a>
        <% } else { %>
        <a class="btn btn-link btn-sm" href="<%= each.fileLink %>"> Download</a>
        <% } %>
        <button
          type="button"
          class="btn btn-link btn-sm"
          value="<%= each._id %>"
          onclick="setShowDeleteAlert(value)"
        >
          Delete
        </button>
      </div>
      <div
        id="delete-modal-<%= each._id %>"
        class="row d-flex align-items-center justify-content-end"
        style="visibility: hidden"
      >
        <small>Are you sure? This cannot be undone.</small>
        <button
          type="button"
          class="btn btn-sm btn-link"
          value="<%= each._id %>"
          onclick="deleteFile(value)"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-sm btn-link"
          value="<%= each._id %>"
          onclick="setShowDeleteAlert(value)"
        >
          <strong> Cancel </strong>
        </button>
      </div>
    </div>
  </div>
</li>
<script>
  async function testing(userId) {
    const res = await fetch(`/api/user/${userId}`);
    console.log(res.json());
  }
</script>
