<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/header") %>

  <body>
    <%- include ("partials/navbar") %>
    <div class="container" style="min-height: 100vh">
      <div class="row my-5">
        <div class="col px-5">
          <h3>Instructions:</h3>
          <ol class="pl-4">
            <li>
              Submit url to a blog post or news article. Do not submit the same
              article more than once.
            </li>
            <li>
              Conversion will take place in the background. You may follow the
              status of your article in the list below. This may take from a few
              minutes to an hour, depending on the server.
            </li>
            <li>
              In case of errors, or your article has not been converted after
              some time, delete the item and try again.
            </li>
          </ol>
          <form class="input-group form-row" action="/file" method="POST">
            <label class="col-12" for="url">
              <strong
                >Note: This service does not endorse the distribution of
                copyrighted materials. For personal use only.</strong
              >
            </label>
            <input
              type="text"
              class="form-control col-12"
              id="url"
              name="url"
              autocomplete="off"
              placeholder="E.g. https://www.gemini.com/cryptopedia/compound-finance-defi-crypto"
            />
            <div class="input-group-append">
              <button class="input-group-text btn-outline-dark" type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="row my-5 py-5">
        <div class="col-md-2">
          <img src="<%- user.photo ? user.photo :
          `https://ui-avatars.com/api/?name=${user.name.split("").join("+")}`
          %>" alt="avatar-logo" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-10">
          <ul class="list-group list-group-flush">
            <%- include ("components/profile-listgroup-item", {label: "Name",
            value: user.name}) %> <%- include
            ("components/profile-listgroup-item", {label: "Email", value:
            user.email}) %> <%- include ("components/profile-listgroup-item",
            {label: "Day Limits", value: `${user.limits.perDayUsed} files
            uploaded. You have ${user.limits.perDayLimit -
            user.limits.perDayUsed} uploads left for the day.`}) %> <%- include
            ("components/profile-listgroup-item", {label: "Month Limits", value:
            `${user.limits.perMonthUsed} files uploaded. You have
            ${user.limits.perMonthLimit - user.limits.perMonthUsed} uploads left
            for the month.`}) %> <%- include
            ("components/profile-listgroup-item", {label: "File Limits", value:
            `You have ${user.files.length} files. You have keep up to
            ${user.filesQuota} files at any time.`}) %> <%- include
            ("components/profile-listgroup-item", {label: "Google Drive Access",
            value:user.googleToken ? "Yes" : "No"}) %>
          </ul>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <% if (!user.files.length) { %>
        <div class="alert alert-secondary" role="alert">
          No articles attached to this profile...
        </div>
        <% } %> <% for (let each of user.files) { %> <%- include
        ("components/files-listgroup-item", {each:each}) %> <% } %>
      </ul>
    </div>
    <%- include ("partials/footer") %>
  </body>

  <script>
    function setShowDeleteAlert(fileId) {
      var modal = document.querySelector(`#delete-modal-${fileId}`);
      if (modal.style.visibility === "hidden") {
        modal.style.visibility = "visible";
      } else {
        modal.style.visibility = "hidden";
      }
    }
    async function deleteFile(fileId) {
      await fetch(`/file/${fileId}`, {
        method: "DELETE",
      });
      window.location.reload();
    }

    async function uploadToGDrive(fileId) {
      const res = await fetch(`/user/upload/${fileId}`, {
        method: "POST",
      });
      if (res.status === 200) {
        setAlert("File Uploaded");
      } else {
        setAlert("Error uploding file");
      }
      // window.location.reload();
    }

    function setPlaybackSpeed(playerId, speed) {
      document.querySelector(`#player-${playerId}`).playbackRate = speed;
    }

    function setAlert(message) {
      var alert = document.querySelector("#alert-modal");
      alert.style.visibility = "visible";
      var p = document.querySelector("#alert-modal > p");
      p.innerText = message;
    }
  </script>
</html>
