<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand mb-0 h1" href="/">One Listen</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <% if (user) { %>
    <ul class="ml-auto navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= `/user/${user._id}` %>"
          ><%= user.name %></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
    </ul>
    <div class="dropdown">
      <a
        class="btn btn-link dropdown-toggle"
        href="<%= `/user/${user._id}` %>"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <%- user.name ? user.name : user._id %>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="<%= `/user/${user._id}` %>">Profile</a>
        <a class="dropdown-item" href="#">Support</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
    <% } else { %>
    <ul class="ml-auto navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/auth/google">Sign in</a>
      </li>
    </ul>
    <% } %>
  </div>
</nav>
